.nav{
    display: flex;
    flex-direction: row;
    background-color: blue;
    font-family: sans-serif;
    background-image: linear-gradient(green,lightgreen);
    
}
.child{
    width: 200px;
    height: 50px;
    text-align: center;
    font-size: 18px;
    padding-top: 20px;
}
.child4{
    width: 200px;
    height: 50px;
    text-align: center;
    font-size: 18px;
    padding-top: 10px;
}
.gap{
    width: 500px;
    height: 50px;
    /* background-color: aliceblue; */
}
button{
    width: 150px;
    height: 50px;
    cursor: pointer;
    font-size: 15px;
    border-radius: 5px;
    background-color: white;
    /* padding-top: 10px; */
}
button:hover{
    background-color: gold;
}
